# .github/workflows/main.yml

name: QA Database Integration Tests CI Only

on:
  push:
    branches:
      - main

jobs:
  run-db-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Prepare Allure Results Directory
      # Создаем пустую папку для результатов
      run: |
        mkdir -p allure-results

    - name: Run Tests using Docker Compose (CI)
      # Запускаем docker-compose up, чтобы запустить все сервисы и дождаться их завершения.
      # Команда "tests" завершится, когда pytest отработает.
      # Мы используем встроенную команду "docker compose" (без дефиса), которая работает на GitHub VM.
      run: |
        docker compose up --build tests --exit-code-from tests

    - name: Upload Allure Results Artifact
      uses: actions/upload-artifact@v4
      with:
        name: allure-results-raw
        path: allure-results
      # Условие: загружать артефакт, даже если предыдущий шаг (Run Tests) упал.
      # Это позволит вам увидеть логи упавших тестов.
      if: always()
